@using Bootstrap.Models;

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Added EMP</div>
    <div class="panel-body">
        <div class="top-buffer"></div>
        <h1>@ViewBag.Error</h1>
    </div>
    </div>
